### First Function

create function compute area

In [3]:
def computeCircleArea(radius):
    pi = 3.14
    area = pi * (radius**2)
    return area

call function

In [6]:
area = computeCircleArea(20)
print("The area is ",area)

The area is  1256.0

### Object Type

In [7]:
type("Hallo") # string

str

In [8]:
type(2) # integer

int

In [10]:
type(2.3) # double / float

float

In [12]:
type([4,5,6]) # list

list

In [13]:
type((4,5,6)) # tuple

tuple

### Variable

In [14]:
income = 500
consumption = 25
num_of_salary_ann = 12
monthly_working_days = 25

In [17]:
saving = income - consumption
print(saving)

475

In [21]:
annual_income = income * num_of_salary_ann
daily_income = annual_income / monthly_working_days

Create Function DS

In [25]:
def DSBusiness():
    print("PACMANN AI")

In [26]:
DSBusiness()

PACMANN AI

While and For Loop

In [28]:
def repeatDSBusiness():
    x = 1
    while x < 5:
        DSBusiness()
        x = x+1

In [30]:
repeatDSBusiness()

PACMANN AI
PACMANN AI
PACMANN AI
PACMANN AI

In [39]:
A = 5==5
B = 5!=5

In [40]:
print(A,B)

True False

In [67]:
customer = [{
    "Name": ["Krisna"],
    "Address": ["Salemba"]
}]



customer[0]["Name"].append("Adit")
for i in customer:
    print(i["Name"])

['Krisna', 'Adit']

##### Machine Learning Package is Starting

In [64]:
import pandas as pd

In [74]:
customer = {
    "Name": ["Krisna", "Adit"],
    "Address": ["Salemba", "Jaya"]
}

customers = [{
    "Name": ["Krisna", "Adit"],
    "Address": ["Salemba", "Jaya"]
}]

customerObject = {
    "Data 1": {
        "Name": "Krisna",
        "Address": "Salemba"
    },
    "Data 2": {
        "Name": "Fahry",
        "Address": "Tangsel"
    }
}

In [69]:
pd.DataFrame(customer)

   Address    Name
0  Salemba  Krisna
1     Jaya    Adit

In [72]:
customers.append({
    "Name": ["Muhammad", "Fahry"],
    "Address": ["Cisauk", "Tanggerang"]
})

pd.DataFrame(customers)

                Address               Name
0       [Salemba, Jaya]     [Krisna, Adit]
1  [Cisauk, Tanggerang]  [Muhammad, Fahry]